# testing
# < v2
!test.tree
# >= v2
!test_v2.tree
*.ann
*.tree
*.annoy
*.idx
*.hdf5
*.joblib

# git rm -r --cached galleries/examples/00-jupyter_notebooks/annoy/*.csv
*.csv
*.npy
*.npz

*.voy
*.voyager
