# Authors: The scikit-plots developers
# SPDX-License-Identifier: BSD-3-Clause

[run]
# Use statement coverage rather than branch coverage because
# COVERAGE_CORE=sysmon can make branch coverage slower rather than faster. See
# https://github.com/nedbat/coveragepy/issues/1812 for more details.
branch = False
source = scikitplot
parallel = True
omit =
    */benchmarks/*
    */galleries/*
    */scikitplot/_build_utils/*
    */scikitplot/_decorates/*
    */scikitplot/cexperimental/*
    */scikitplot/cexternals/*
    */scikitplot/config/cbook.py
    */scikitplot/experimental/*
    */scikitplot/externals/*
    # ❌ Ignore all externals EXCEPT target
    # ✅ Re-include target (coverage.py supports this)
    # !*/scikitplot/externals/_sphinx_ext/*
    # !*/scikitplot/externals/_sphinx_ext/_sphinx_ai_assistant/*
    */scikitplot/dummy.py
    */third_party/*
    */tools/*
