[submodule "third_party/array-api-compat"]
	path = third_party/array-api-compat
	url = https://github.com/scikit-plots/array-api-compat.git
	branch = main
[submodule "third_party/array-api-extra"]
	path = third_party/array-api-extra
	url = https://github.com/scikit-plots/array-api-extra.git
	branch = main
[submodule "third_party/seaborn"]
	path = third_party/seaborn
	url = https://github.com/scikit-plots/seaborn.git
	branch = master
[submodule "third_party/astropy"]
	path = third_party/astropy
	url = https://github.com/scikit-plots/astropy.git
	branch = main
