[submodule "third_party/array-api-compat"]
	path = third_party/array-api-compat
	url = https://github.com/scikit-plots/array-api-compat.git
	branch = main
[submodule "third_party/array-api-extra"]
	path = third_party/array-api-extra
	url = https://github.com/scikit-plots/array-api-extra.git
	branch = main
