# Including extra files in sdist (source distribution via setuptools)

# Authors: The scikit-plots developers
# SPDX-License-Identifier: BSD-3-Clause

## Optional file to specify additional files for packaging.
## Can be Access import importlib.resources as pkg_resources

## Include all Python files (these are included by default, but it's good practice to be explicit)
## Include all files in the package source code
recursive-include scikitplot *

## Include specific files with particular extensions in a subdirectory
# recursive-include assets *.png *.jpg *.svg

## Include all non-Python files in your package directory (e.g., data files, config files)
## Replace `your_package_name` with the actual name of your package
# recursive-include scikitplot *.txt *.csv *.json *.yaml

## Exclude unnecessary files or directories (useful for keeping the package clean)
# prune tests  # Exclude the tests directory from the distribution
# prune examples  # Exclude the examples directory

# Include files in a specific subdirectory (e.g., docs for documentation)
recursive-include requirements *
include requirements.txt
include environment.yml

## Include specific data files, like your CITATION.bib
include CITATION.bib
include CITATION.cff

## Include the README and LICENSE files (important for documentation and legal information)
recursive-include LICENSES *
include LICENSE
include LICENSE.txt
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md

# Optionally, include other specific folders or files
include .codespell-ignore-words
include .coveragerc
include .flake8
include .mailmap
include MANIFEST.in
include setup.cfg

recursive-include *.yml
recursive-include *.yaml
recursive-include *.ini
recursive-include *.toml
recursive-include *.txt
recursive-include *.md
