--find-links https://pypi.anaconda.org/scikit-plots-wheels-staging-nightly/simple/scikit-plots
--find-links https://pypi.anaconda.org/scientific-python-nightly-wheels/simple/scikit-learn
--pre

cython
pybind11
pybind11-global
blis

# numpy
# scipy-openblas32
# scipy-openblas64
scipy
pandas
pyarrow
polars

matplotlib
pillow
seaborn
scikit-image

scikit-learn
statsmodels

ipython
ipykernel

sphinx-gallery
h5py
tables
shapely

# --prefer-binary
# --no-binary :all:
# --no-binary scikit-plots
scikit-plots
