[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "*"
tomli = "*"
build = "*"
twine = "*"
meson = ">=1.5.0"
ninja = ">=1.11.0"
meson-python = ">=0.16.0"
cython = ">=3.0.8"
pybind11 = ">=2.13.2"
pythran = ">=0.14.0"
numpy = ">=2.0.0"
pandas-stubs = "*"
pycodestyle = "*"
pydantic = "*"
pydevtool = "*"
pyyaml = "*"
types-psutil = "*"
typing-extensions = "*"
requests = "*"
click = "*"
rich-click = "*"
doit = "*"
pre-commit = "*"
cython-lint = "*"
flake8 = "*"
black = "*"
ruff = "*"
mypy = "*"
hypothesis = ">=6.130.0"
pytest = ">=7.1.2"
pytest-cov = "*"
pytest-fail-slow = "*"
pytest-mpl = "*"
pytest-run-parallel = "*"
pytest-timeout = "*"
pytest-xdist = "*"
asv = "*"
mpmath = "*"
pyamg = "*"
tenacity = "*"
pyinstrument = "*"
seaborn = ">=0.11"
sphinx = "<100.0.0,>=5.0.0"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-gallery = "*"
sphinx-prompt = "*"
sphinx-remove-toctrees = "*"
sphinx-rtd-theme = "*"
sphinx-tabs = "*"
sphinx-tags = "*"
sphinxext-opengraph = "*"
sphinxcontrib-inlinesyntaxhighlight = "*"
sphinxcontrib-sass = "*"
sphinxcontrib-svg2pdfconverter = "*"
pydata-sphinx-theme = "*"
colorspacious = "*"
jinja2 = "*"
jupyter-sphinx = "*"
jupyterlite-pyodide-kernel = "*"
jupyterlite-sphinx = "*"
jupytext = "*"
intersphinx-registry = "*"
numpydoc = "*"
myst-nb = "*"
myst-parser = "*"
packaging = "*"
pooch = "*"
towncrier = "*"
catboost = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.11"
