name: zz PR Check Milestone

on:
  workflow_dispatch: # Allows manual triggering of the workflow
  # pull_request:
  #   types: [synchronize, milestoned, demilestoned]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: read

jobs:
  # https://stackoverflow.com/questions/69434370/how-can-i-get-the-latest-pr-data-specifically-milestones-when-running-yaml-jobs
  milestone_checker:
    runs-on: ubuntu-latest

    # To enable this workflow on a fork, comment out:
    if: github.repository == 'scikit-plots/scikit-plots'

    steps:
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd  # v8.0.0
        if: github.repository == 'astropy/astropy'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { data } = await github.request("GET /repos/{owner}/{repo}/pulls/{pr}", {
                owner: context.repo.owner,
                repo: context.repo.repo,
                pr: context.payload.pull_request.number
              });
              if (data.milestone) {
                core.info(`This pull request has a milestone set: ${data.milestone.title}`);
              } else {
                core.setFailed(`A maintainer needs to set the milestone for this pull request.`);
              }
